.header {
    padding-top: 20px;
    margin-bottom: 80px;
}
.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box {
    display: flex;
}
.link {
    margin-right: 60px;
}
.btn {
    margin-right: 36px;
}